<%= form_for([@micropost, @reply]) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :content, placeholder: "Leaving a reply..." %>
    </div>
    <%= f.submit "Reply", class: "btn btn-primary" %>
<% end %>